<h1>Create a new Album</h1>

<%= form_for @album do |f| %>

 	<% @album.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>

	<p>
		<%= f.label :title %>
		<br/>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<br/>
		<%= f.text_area :body, :style => "height: 100px;" %>
	</p>

	<h3>Photo Cache</h3>

  		<%= f.fields_for :photos do |photo_form| %>
  		<%= photo_form.file_field :photo %>

  	<% end %>

  	<hr/>
	<p>
		<%= link_to "Back", :back %>
		<%= f.submit %>
	</p>

<%- end %>